name: sync
on:
  schedule:
  - cron: "*/10 * * * *"
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: sync
        run: npm install web3 && node sync.js >> data/transactions
        env:
          ETH_RPC: ${{ secrets.ETH_RPC }}
      - name: pack
        run: node pack.js
      - name: commit
        run: |
          git add data
          blockNumber=$(node -e 'console.log(JSON.parse(fs.readFileSync("data/block.json")).blockNumber)')
          git commit -m "Sync to block $blockNumber" --author "duckie-sync <>"
          git push
